<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 ng-scope" style="padding-left: 20px;" ng-if="!genieViewFlag">	
                <div id="feed-right-div" style="width:100%">	
                    <!-- ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-0">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/Venue_1.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/Venue_1.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">VENUES</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-1">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/Photography_1.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/Photography_1.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">PHOTOGRAPHERS</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-2">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/makeup.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/makeup.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">BRIDAL MAKEUP</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-3">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/decor.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/decor.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">DECORATORS</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-4">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/Planner_1.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/Planner_1.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">WEDDING PLANNERS</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-5">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/mehendi_1.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/mehendi_1.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">MEHENDI ARTIST</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-6">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/catering.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/catering.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">CATERING SERVICES</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-7">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/invitation.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/invitation.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">INVITATIONS</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-8">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/dj.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/dj.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">DJS</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-9">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/entertainment.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/entertainment.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">WEDDING ENTERTAINMENT </p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-10">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/family-makeup.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/family-makeup.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">FAMILY MAKEUP</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-11">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/Choreo_1.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/Choreo_1.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">SANGEET CHOREOGRAPHER</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-12">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/preweddingshoot.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/preweddingshoot.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">PRE WEDDING PHOTOGRAPHERS</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-13">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/outfit.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/outfit.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">BRIDAL WEAR</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-14">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/jewellery.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/jewellery.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">JEWELLERY</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-15">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/Trousseau_1.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/Trousseau_1.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">TROUSSEAU PACKERS</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-16">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/favor.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/favor.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">FAVORS</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-17">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/groom.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/groom.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">GROOM WEAR</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-18">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/rustic-cake_1.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/rustic-cake_1.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">CAKE</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-19">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/pandit.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/pandit.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">WEDDING PANDITS </p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-20">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/bartender.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/bartender.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">BARTENDERS</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-21">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/shoes.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/shoes.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">ACCESSORIES</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-22">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/Cinema_1.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/Cinema_1.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">CINEMA/VIDEO</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-23">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/preweddingshoot.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/preweddingshoot.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">PRE WEDDING SHOOT LOCATIONS</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories --><div ng-repeat="category in user.rightCategories" style="position:relative" ng-click="openCategory(category.category_slug)" class="feed-right-category ng-scope" id="feed-right-24">	
                        <div style="width: 95%; overflow: hidden; height: 100px; border-radius: 4px; background-size: cover; margin-bottom: 10px; background-position: 50% 50%; background-image: url(&quot;https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/preweddingshoot.jpg&quot;);" ng-style="{'background-image':'url(https://image.wedmegood.com/nw/uploads/vendor_types/images/mobile/category/preweddingshoot.jpg)'}">	
                        </div>	
                        <div style="position: absolute; top: 0; left: 0; width: 95%; height: 100%; border-radius:4px; color: #FFF; display: block;	
                        background: rgba(0, 0, 0, .6);"></div>	
                        <p style="position: absolute; color: white; left: 50%; top: 50%; margin-right: -50%; transform: translate(-50%, -50%); font-weight: 600; letter-spacing: 2px;font-size:14px;" class="ng-binding">BEAUTY AND WELLNESS</p>	
                    </div><!-- end ngRepeat: category in user.rightCategories -->	
                </div>	
            </div>
            <div class="col-lg-8">
               <div>
                    <h1>Favorite Vendor</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card" >
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Connect with Vendor</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" >
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Connect with Vendor</a>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>          
               <div>
                    <h1>Followed Vendors</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card" >
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Connect with Vendor</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" >
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Connect with Vendor</a>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>          
               <div>
                    <h1>Recents</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card" >
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Connect with Vendor</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card" >
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Connect with Vendor</a>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>          
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
